main .skills-section {
    margin-bottom: 34px; }
  main .skill-card {
    padding-top: 11px;
    padding-bottom: 11px; }
    main .skill-card:first-child, main .skill-card:nth-child(3) {
      border-right: 1px solid #f3f3f3; }
      @media (max-width: 991px) {
        main .skill-card:first-child, main .skill-card:nth-child(3) {
          border-right: 0; } }
    @media (max-width: 991px) {
      main .skill-card {
        border-bottom: 1px solid #f3f3f3; }
        main .skill-card:last-child {
          border-bottom: 0; } }
    main .skill-card .skill-icon {
      width: 29.9px;
      height: 29.9px;
      margin-right: 25px;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center; }
    main .skill-card .skill-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 8px; }
    main .skill-card .skill-description {
      font-size: 14px;
      font-weight: 300;
      max-width: 500px;
      margin-bottom: 0; }
    main .skill-card .skill-description a {
    color: black;}
