main .blog-section {
    margin-bottom: 51px; }
  main .blog-posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;}
    main .blog-posts-wrapper .blog-post {
      width: calc(25% - 15px);
      margin-bottom: 100px; }
      @media (max-width: 1200px) {
        main .blog-posts-wrapper .blog-post {
          width: calc(50% - 8.5px); } }
      @media (max-width: 575px) {
        main .blog-posts-wrapper .blog-post {
          width: 100%; } }
      main .blog-posts-wrapper .blog-post-link {
        color: inherit; }
        main .blog-posts-wrapper .blog-post-link:hover {
          text-decoration: none; }
      main .blog-posts-wrapper .blog-post-thumbnail {
        width: 100%;
        margin-bottom: 13px; }
      main .blog-posts-wrapper .blog-post-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 6px; }
      main .blog-posts-wrapper .blog-post-meta {
        color: #0067f6;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0; }
        main .blog-posts-wrapper .blog-post-meta .post-published-date {
          margin-right: 6px; }
