<section class="achievements-section">
    <!--        <h6 class="section-subtitle">WHAT I DO</h6>-->
    <h2 class="section-title">ACHIEVEMENTS</h2>
    <div class="achievement-cards-wrapper">
        <div class="media achievement-card">
            <img src="/static/images/puzzle.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h3 class="achievement-card-title">5+</h3>
                <p class="achievement-card-description"><a href="https://github.com/beastimran/" target="_blank" rel="noreferrer noopener">COMPLETED
                    PROJECTS</a></p>
            </div>
        </div>
        <div class="media achievement-card">
            <img src="/static/images/trophy.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h3 class="achievement-card-title">770+</h3>
                <p class="achievement-card-description">
                    <a href="https://pepy.tech/project/libgenparser" target="_blank" rel="noreferrer noopener">LIBGENPARSER DOWNLOADS PER MONTH</a>
                </p>
            </div>
        </div>
        <div class="media achievement-card">
            <img src="/static/images/team.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h3 class="achievement-card-title">1000+</h3>
                <p class="achievement-card-description">HAPPY AND SATISFIED USERS</p>
            </div>
        </div>
    </div>
</section>