{% extends 'base.html' %}

{% block page_content %}
<!--<section class="portfolio-section">-->
<!--    <h1 class="section-title">PROJECTS</h1>-->

<!--    <div class="portfolio-wrapper">-->
<!--        <figure class="portfolio-item hover-box">-->
<!--            <img src="/static/images/all utility bot animate.gif" alt="all utility bot picture" class="portfolio-item-img" loading="lazy">-->
<!--            <figcaption class="portfolio-item-details overlay">-->
<!--                <h2 class="portfolio-item-title">ALL UTILITY BOT</h2>-->
<!--                <p class="portfolio-item-description">An "All In One" telegram bot. Aimed to build the most powerful telegram bot ever. Do not-->
<!--                    maintain different bots for different utilities. Got 2k user in one month and growing 50 to 100 each day.</p>-->
<!--            </figcaption>-->
<!--        </figure>-->

<!--        <figure class="portfolio-item hover-box">-->
<!--            <img src="/static/images/password entry bear transparent.gif" alt="project" class="portfolio-item-img" loading="lazy">-->
<!--            <figcaption class="portfolio-item-details overlay">-->
<!--                <h2 class="portfolio-item-title">PASSWORD GENERATOR</h2>-->
<!--                <p class="portfolio-item-description">This was my first telegram bot project which helped me learn more about the telegram API.-->
<!--                    Currently has 500+ users ❤</p>-->
<!--            </figcaption>-->
<!--        </figure>-->

<!--        <figure class="portfolio-item hover-box">-->
<!--            <img src="/static/images/youtube caption adding.gif" alt="project" class="portfolio-item-img" loading="lazy">-->
<!--            <figcaption class="portfolio-item-details overlay">-->
<!--                <h2 class="portfolio-item-title">CHAPTER EMBEDDING</h2>-->
<!--                <p class="portfolio-item-description">Embed chapters or famously known as timestamps to your offline video using this simple-->
<!--                    utility. Accepts any format video.</p>-->
<!--            </figcaption>-->
<!--        </figure>-->
<!--    </div>-->
<!--</section>-->

<section class="blog-section">
    <h2 class="section-title"><a href="#PROJECTS" target="_blank" rel="noopener noreferrer">PROJECTS</a></h2>
    <div class="blog-posts-wrapper">
        <article class="blog-post">
            <a href="https://github.com/BeastImran/all_utility_bot_public_repo" class="blog-post-link" target="_blank" rel="noopener noreferrer">
                <!--                <img src="/static/images/News_1.jpg" alt="news 1" class="blog-post-thumbnail">-->
                <video src="/static/videos/botpic animated.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">ALL UTILITY BOT</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">1 MAY 2021</span>
                <a href="#" class="post-comments">2K+ ACTIVE USERS / ACTIVE</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/BeastImran/password-generator-bot" class="blog-post-link" target="_blank" rel="noopener noreferrer">
                <!--                <img src="/static/images/News_2.jpg" alt="news 2" class="blog-post-thumbnail">-->
                <video src="/static/videos/password bear animated.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">PASSWORD GENERATOR BOT</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">24 JAN 2021</span>
                <a style="pointer-events: none; cursor: default;" href="#" class="post-comments">500+ USERS / ARCHIVED</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/beastimran/chapter-embedding" class="blog-post-link" target="_blank" rel="noopener noreferrer">
                <!--                <img src="/static/images/News_3.jpg" alt="news 3" class="blog-post-thumbnail">-->
                <video src="/static/videos/youtube caption adding.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">Chapter embedding</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">23 JAN 2021</span>
                <a style="pointer-events: none; cursor: default;" href="#" class="post-comments">PERSONAL / ARCHIVED</a>
            </p>
        </article>
    </div>
    <h2 class="section-title"><a href="#POSTS">POSTS</a></h2>
    <div class="blog-posts-wrapper">
        <article class="blog-post">
            <!--                <img src="/static/images/News_4.jpg" alt="news 4" class="blog-post-thumbnail">-->
            <iframe src="https://www.redditmedia.com/r/SideProject/comments/nuu2az/an_all_in_one_telegram_bot_i_am_aiming_to_build/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                    sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" width="500" height="500"
                    class="blog-post-thumbnail"></iframe>
            <h1 class="blog-post-title">Reddit post about the all utility bot</h1>
            <p class="blog-post-meta">
                <span class="post-published-date">8 JAN 2021</span>
                <a href="#!" class="post-comments">30+ UP VOTES</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/BeastImran/libgenparser/issues/1" aria-label="libgen parser github issue" class="blog-post-link"
               target="_blank" rel="noopener noreferrer">
                <video src="/static/videos/python animated.mp4" class="blog-post-thumbnail" width="500" height="500" loop autoplay playsinline
                       muted></video>
                <h1 class="blog-post-title">PyPi package</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">LIBGEN PARSER</span>
                <a href="#!" class="post-comments">300+ DOWNLOADS/month</a>
            </p>
        </article>

        <article class="blog-post">
            <a href="https://github.com/BeastImran/libgenparser/issues/1" aria-label="libgen parser github issue" class="blog-post-link"
               target="_blank" rel="noopener noreferrer">
                <video src="/static/videos/github issue animated.mp4" class="blog-post-thumbnail" loop autoplay playsinline muted></video>
                <h1 class="blog-post-title">Libgenparser feature request</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">21 MAY 2021</span>
                <a href="#!" class="post-comments"></a>
            </p>
        </article>

        <article class="blog-post">
            <a href="#!" class="blog-post-link">
                <iframe src="https://www.redditmedia.com/r/TelegramBots/comments/nulypz/an_all_in_one_bot_do_not_maintain_different_bots/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                        sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" width="500" height="500"
                        class="blog-post-thumbnail"></iframe>
                <h1 class="blog-post-title">Design Conferences in 2019</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">8 JAN 2021</span>
                <a href="#!" class="post-comments">25+ UP VOTES</a>
            </p>
        </article>
        <!--        <article class="blog-post">-->
        <!--            <a href="#!" class="blog-post-link">-->
        <!--                <img src="/static/images/News_6.jpg" alt="news 6" class="blog-post-thumbnail">-->
        <!--                <h1 class="blog-post-title">Design Conferences in 2019</h1>-->
        <!--            </a>-->
        <!--            <p class="blog-post-meta">-->
        <!--                <span class="post-published-date">28 DEC 2019</span>-->
        <!--                <a href="#!" class="post-comments">3 COMMENTS</a>-->
        <!--            </p>-->
        <!--        </article>-->
    </div>
</section>
{% include 'credits.html' %}
{% endblock page_content %}
