{% extends 'base.html' %}
{% block page_content %}
<section class="blog-section">
    <h2 class="section-title"><a href="#PROJECTS" target="_blank" rel="noopener">PROJECTS</a></h2>
    <div class="blog-posts-wrapper">
        <article class="blog-post">
            <a href="https://github.com/BeastImran/all_utility_bot_public_repo" class="blog-post-link" target="_blank" rel="noopener">
                <video src="/static/videos/botpic animated.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">ALL UTILITY BOT</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">1 MAY 2021</span>
                <a href="#" style="pointer-events: none; cursor: default;" class="post-comments">2K+ ACTIVE USERS / ACTIVE</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/BeastImran/password-generator-bot" class="blog-post-link" target="_blank" rel="noopener">
                <video src="/static/videos/password bear animated.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">PASSWORD GENERATOR BOT</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">24 JAN 2021</span>
                <a style="pointer-events: none; cursor: default;" href="#" class="post-comments">500+ USERS / ARCHIVED</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/beastimran/chapter-embedding" class="blog-post-link" target="_blank" rel="noopener">
                <video src="/static/videos/youtube caption adding.mp4" class="blog-post-thumbnail" autoplay muted playsinline
                       loop width="320" height="300"></video>
                <h1 class="blog-post-title">Chapter embedding</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">23 JAN 2021</span>
                <a style="pointer-events: none; cursor: default;" href="#" class="post-comments">PERSONAL / ARCHIVED</a>
            </p>
        </article>
    </div>
    <h2 class="section-title"><a href="#POSTS">POSTS</a></h2>
    <div class="blog-posts-wrapper">
        <article class="blog-post">
            <iframe src="https://www.redditmedia.com/r/SideProject/comments/nuu2az/an_all_in_one_telegram_bot_i_am_aiming_to_build/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                    sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" width="500" height="500"
                    class="blog-post-thumbnail"></iframe>
            <h1 class="blog-post-title"><a
                    href="https://www.reddit.com/r/SideProject/comments/nuu2az/an_all_in_one_telegram_bot_i_am_aiming_to_build/" target="_blank"
                    rel="noopener">Reddit post about the all utility bot</a></h1>
            <p class="blog-post-meta">
                <span class="post-published-date">8 JAN 2021</span>
                <a href="#!" class="post-comments">30+ UP VOTES</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="#!" class="blog-post-link">
                <a href="https://github.com/BeastImran/personal-website">
                    <video src="/static/videos/personal site.mp4" class="blog-post-thumbnail" width="500" height="500" muted playsinline autoplay
                           loop></video>
                    <h1 class="blog-post-title"><a href="http://beastimran.com" target="_blank" rel="noopener">This personal website</a></h1>
                </a>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">12 JUN 2021</span>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/BeastImran/libgenparser/issues/1#issue-897573421" aria-label="libgen parser github issue"
               class="blog-post-link" target="_blank" rel="noopener">
                <video src="/static/videos/github issue animated.mp4" class="blog-post-thumbnail" width="500" height="500" loop autoplay playsinline
                       muted></video>
                <h1 class="blog-post-title">Libgenparser feature request</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">21 MAY 2021</span>
                <a href="https://github.com/BeastImran/libgenparser/issues/1#issue-897573421" target="_blank" rel="noopener" class="post-comments">FIRST
                    REQUEST</a>
            </p>
        </article>
        <article class="blog-post">
            <a href="https://github.com/BeastImran/libgenparser/issues/1" aria-label="libgen parser github issue" class="blog-post-link"
               target="_blank" rel="noopener">
                <video src="/static/videos/python animated.mp4" class="blog-post-thumbnail" width="500" height="500" loop autoplay playsinline
                       muted></video>
                <h1 class="blog-post-title">PyPi package</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">LIBGEN PARSER</span>
                <a href="https://pepy.tech/project/libgenparser" target="_blank" rel="noopener" class="post-comments">300+ DOWNLOADS/month</a>
            </p>
        </article>

        <article class="blog-post">
            <a href="#!" class="blog-post-link">
                <iframe src="https://www.redditmedia.com/r/TelegramBots/comments/nulypz/an_all_in_one_bot_do_not_maintain_different_bots/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                        sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" width="500" height="500"
                        class="blog-post-thumbnail"></iframe>
                <h1 class="blog-post-title"><a
                        href="https://www.reddit.com/r/TelegramBots/comments/nulypz/an_all_in_one_bot_do_not_maintain_different_bots/" target="_blank"
                        rel="noopener">Reddit post about the all utility bot</h1>
            </a>
            <p class="blog-post-meta">
                <span class="post-published-date">8 JAN 2021</span>
                <a href="#!" class="post-comments">25+ UP VOTES</a>
            </p>
        </article>
    </div>
</section>
{% include 'credits.html' %}
{% endblock page_content %}
