<section class="clients-section">
    <!--        <h6 class="section-subtitle">WHAT I DO</h6>-->
    <h2 class="section-title">CLIENTS</h2>
    <div class="client-logos-wrapper">
        <div class="client-logo"><img src="/static/images/Clients_1.svg" alt="logo" class="w-100"></div>
        <div class="client-logo"><img src="/static/images/Clients_2.svg" alt="logo" class="w-100"></div>
        <div class="client-logo"><img src="/static/images/Clients_3.svg" alt="logo" class="w-100"></div>
        <div class="client-logo"><img src="/static/images/Clients_4.svg" alt="logo" class="w-100"></div>
    </div>
</section>