{% extends 'base.html' %}
{% block page_content %}

<section class="intro-section" style="margin-bottom: 29px;">
    <h2 class="section-title" style="margin-bottom: 1rem;">Hello, my name is Shaik Imran!</h2>
    <p>Student interested in every aspect of the software industry and very keen to dive deep in to software technologies, frameworks and tools of my
        interest. I enjoy building things which addresses, solves and simplifies many things people find as problem or trouble. Moreover, I
        add a personal touch to anything i build to make sure that it is easy to use and gives best User Experience. I have built many personal as
        well as public use projects as shown below which has really made things simpler in life of many people and solved issues of bad
        experience.</p>
    <!--    <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>-->
</section>

{% include 'skills.html' %}
{% include 'achievements.html' %}
{% include 'works_and_education.html' %}
{% include 'footer_carousel.html' %}
{% include 'credits.html' %}
{% endblock page_content %}