<section class="skills-section">
    <!--        <h6 class="section-subtitle">WHAT I CAN DO</h6>-->
    <h2 class="section-title">SKILLS / skillS</h2>
    <div class="row">
        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}python animated.mp4" style="margin-bottom: 5px;" width="40px" height="40px" autoplay muted playsinline
                       loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Python Development</h3>
                <p class="skill-description">Can do automation, build apis, amazing utilities, bots, site backends and a lot more with
                    <b style="font-weight: bold;">one</b> of my <b style="font-weight: bold;">love of my life 😜.</b></p>
            </div>
        </div>

        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}network animated.mp4" width="40px" height="40px" autoplay muted playsinline loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Web scraping</h3>
                <p class="skill-description">One of amazing skills i have developed over years is web scraping. Examples are in projects
                    section.</p>
            </div>
        </div>

        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}robot animated.mp4" width="40px" height="40px" autoplay muted playsinline loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Automation</h3>
                <p class="skill-description">Automation has been one of my most interested things i often do, making life a little bit easier
                    for my self with things i do everyday.</p>
            </div>
        </div>
        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}telegram animated.mp4" width="40px" height="40px" autoplay muted playsinline loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Telegram Bots</h3>
                <p class="skill-description">I believe telegram is the world's most powerful and trustworthy app. I have build very useful bots
                    in such an environment and i am proud of it.</p>
            </div>
        </div>

        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}web animated.mp4" width="40px" height="40px" autoplay muted playsinline loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">web development</h3>
                <p class="skill-description">I have done 100% of backend stuff. Frontend was partially built by me.</p>
            </div>
        </div>
        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <img src="/static/images/flask 50x40.png" style="margin-bottom: 5px;" width="50px" height="40px" alt="flask" loading="lazy">
            </div>
            <div class="media-body">
                <h3 class="skill-title">Flask</h3>
                <p class="skill-description"><a href="https://github.com/beastimran/">This website</a> was built using <a
                        href="https://sanicframework.org/" target="_blank" rel="noopener">Sanic framework</a> which was
                    made to got fast being and asynchronous framework and is very similar to Flask.</p>
            </div>
        </div>
        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}database animated.mp4" width="40px" height="40px" autoplay muted playsinline loop></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Database</h3>
                <p class="skill-description">I'm very thankful to myself cause of having at least intermediate skills in it. I have worked with
                    MySQL, sqlite, Oracle DBMS etc database technologies.</p>
            </div>
        </div>

        <div class="media skill-card col-lg-6">
            <div class="skill-icon">
                <video src="{{ videos_path }}django 40x20.mp4" style="margin-bottom: 20px;" width="40px" height="16px" loop autoplay playsinline
                       muted></video>
            </div>
            <div class="media-body">
                <h3 class="skill-title">Django</h3>
                <p class="skill-description">I am pretty new to Django framework and i found that Django is worth the hype.</p>
            </div>
        </div>
    </div>
</section>
